.about {
	$self: &;

	&__top {
		padding-top: 120px;
		
		@include media('<=xs') {
			padding-top: 80px;
		}
		
		@include media('<=xxs') {
			padding-top: 50px;
		}
	}
	
	&__title {
		margin-bottom: 50px;
	}
	
	&__text {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.6;
		column-count: 2;
		column-gap: 30px;
		column-width: 350px;
		
		p {
			break-inside: avoid;
		}
	}
	
	&__gallery {
		padding-top: 120px;
		
		@include media('<=xs') {
			padding-top: 80px;
		}
		
		@include media('<=xxs') {
			padding-top: 50px;
		}
	}
}