.faq {
	$self: &;

	&__inner {
		padding-top: 120px;
		
		@include media('<=xs') {
			padding-top: 80px;
		}
	}

	&__title {
		margin-bottom: 20px;
	}

	&__items {
		counter-reset: item_ctr;
		column-count: 2;
		column-gap: 50px;
		column-width: 350px;
	}
	
	&__item {
		position: relative;
		padding: 35px 0 35px 90px; 
		
		@include media('<=xs') {
			padding: 25px 0 25px 90px; 
		}
		
		@include media('<=xxs') {
			padding: 25px 0 25px 60px; 
		}

		&::before {
			display: block;
			counter-increment: item_ctr;
			content: counter(item_ctr) ".";
			color: rgb(var(--accent));
			font-weight: 800;
			font-size: 64px;
			position: absolute;
			top: 30px;
			left: 0;
			
			@include media('<=xs') {
				top: 20px;
			}
			
			@include media('<=xxs') {
				font-size: 52px;
			}
		}
	}

	&__subtitle {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 20px;
	}

	&__text {
		color: rgb(var(--dark));
		font-style: italic;
		line-height: 1.7;
		font-size: 12px;
	}
}