<footer class="footer">
	<div class="footer__top container">
		<a class="footer__logo" href="./#top"></a>
		<nav class="footer__navi">
			<a class="footer__n-link" href="#about">About us</a>
			<a class="footer__n-link" href="./#faq">Faq</a>
			<a class="footer__n-link" href="#contacts">Contacts</a>
		</nav>
	</div>
	<div class="footer__bottom container">
		<a class="footer__privacy" href="./">Privacy Policy</a>
		<div class="footer__social social">
			<a class="social__link social__link_inst" href="./"></a>
			<a class="social__link social__link_in" href="./"></a>
			<a class="social__link social__link_fb" href="./"></a>
			<a class="social__link social__link_be" href="./"></a>
		</div>
		<a class="footer__up" href="#top">Scroll to top</a>
	</div>
</footer> 
<script src="common.js"></script> 
</body> 
</html>