<section class="feedback" id="feedback">
	<div class="feedback__inner">
		<div class="feedback__side">
			<h2 class="feedback__title">Do you have <span>any questions?</span></h2>
			<div class="feedback__text">Provide your contacts and our managers will contact you shortly</div>
		</div>
		<form class="feedback__form form">
			<label class="form__field">
				<input type="text" name="form_region" placeholder="Region" autocomplete="off">
			</label>
			<label class="form__field">
				<input type="text" name="form_name" placeholder="Name" autocomplete="off">
			</label>
			<label class="form__field">
				<input type="text" name="form_phone" placeholder="Mob/Tlg/Whts" autocomplete="off">
			</label>
			<div class="form__alert form__alert_error">Пожалуйста, заполните все поля</div>
			<button class="form__submit">Send message</button>
		</form>
	</div>
</section>

<section class="contact">
	<h2 class="contact__title title container">Contact Us</h2>
	<div class="contact__inner container">
		<div class="contact__side">
			<div class="contact__text">
				<p>We are located in the center of Paris, but we work throughout the territory of the World.</p>
				<p>You can contact us online or come to our office in Paris at:</p>
			</div>
			<a class="contact__map" href="./">Show on map</a>
		</div>
		<div class="contact__links">
			<a class="contact__link contact__link_phone" href="./">
				<span>Call us</span>
				<span>+7 999 56 78 987</span>
			</a>
			<a class="contact__link contact__link_tgm" href="./">
				<span>Write to Telegram</span>
				<span>@MayakWorkshop</span>
			</a>
			<a class="contact__link contact__link_mail" href="./">
				<span>Or by mail</span>
				<span>Info@mayakworkshop.com</span>
			</a>
			<div class="contact__social social">
				<a class="social__link social__link_inst" href="./"></a>
				<a class="social__link social__link_in" href="./"></a>
				<a class="social__link social__link_fb" href="./"></a>
				<a class="social__link social__link_be" href="./"></a>
			</div>
	
		</div>
	</div>
</section>