<header class="header @@if(this.mod){@@mod}" data-scroll-lock-fill-gap>
	<div class="header__inner container">
		<a class="header__logo" href="./"></a>
		<div class="header__menu" data-scroll-lock-scrollable>
			<button class="header__close"></button>
			<nav class="header__navi">
				<a class="header__n-link" href="./#gallery">Still images</a>
				<a class="header__n-link" href="./stages.html">Workflow</a>
				<a class="header__n-link" href="#feedback">Contact us</a>
			</nav>
		</div>
		<button class="header__toggle"></button>
	</div>
</header>