.contact {
	$self: &;

	&__inner {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	&__side {

	}

	&__title {

	}

	&__text {

	}

	&__map {

	}

	&__links {

	}

	&__link {

		&_phone {
			
		}

		&_tgm {
			
		}

		&_mail {
			
		}
	}
}
