.hero {
	$self: &;
	box-sizing: border-box;
	height: 100vh;
	display: flex;
	position: relative;
	z-index: 1;
	
	@include media('<=xxs') {
		height: calc(var(--vh, 1vh) * 100);
	}
	
	&__slider {
		
	}

	&__slide {
		height: auto;
		
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__pagination {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		z-index: 2;
		bottom: 60px;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		max-width: 1260px;
		padding-left: 30px;
		padding-right: 30px;
		
		@include media('<=xxs') {
			padding-right: 20px;
			padding-left: 20px;
			bottom: 30px;
		}
	}

	&__dot {
		box-sizing: border-box;
		display: block;
		width: 20px;
		height: 3px;
		// border-radius: 10px;
		flex-shrink: 0;
		background-color: rgba(var(--accent), 0.3);
		cursor: pointer;
		
		&:not(:last-child) {
			margin-right: 6px;
		}
		
		&.active {
			background-color: rgb(var(--accent));
		}
	}

	&__down {
		display: block;
		position: absolute;
		// width: calc(100vw - (100vw - var(--container)) / 2);
		right: calc((100vw - var(--container)) / 2);
		bottom: 100px;
		z-index: 3;
		height: 28px;
		width: 28px;
		background-color: rgb(var(--accent));
		border-radius: 11px;
		display: flex;
		align-items: center;
		justify-content: center;
		animation: moveButtonDown 2s infinite;

		@include media('<=xxlg') {
			right: 30px;
		}
		
		@include media('<=xxs') {
			bottom: 60px;
			right: 20px;
		}
		
		@include media('<=xxxs') {
			right: 15px;
		}

		&::before { 
			display: block;
			content: '';
			width: 12px;
			height: 6px;
			background: url('#{$images-path}icons-sprite.svg#icon-down-view-dark') center / 12px 6px no-repeat transparent;
		}
	}
}